*{
  margin: 0px;
  padding: ; 0px;
  font-family: 'Merriweather' sans-serif;
}
body {
  height: 100%;
  width: 100%;
  background-color: white;
}

.exp-pic{
  width: 200px;
}

/* border around code screenshots */
.my-3 img {
  border: 5px solid #555;
}

/* gradient for background */
#grad {
  background-image: linear-gradient(to bottom right, red, yellow);
}